/* 鎺ㄨ崘寮�濮� */
.announcetj{
	height:100px ;border: 0px solid;
	overflow: hidden;
	height: auto;
	width: 1200px;
	/* width: expression(document.body.clientWidth < 1200px? "1200px": "100%" );
	max-width:1200px;  */
	margin: auto;
}
.announcetj li:first-child {
    background: url(../resource/tj.png) no-repeat;
}
.announcetj li {
    float: left;
    width: 117px;
    height: 100%;
    text-align: center;
    border-right: 1px solid #f0f0f0;
}
a:visited {
    color: #333333;
}
a:link {
    color: #333333;
}
a {
    text-decoration: none;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: none;
	cursor: pointer;
}
.announcetj li img {
    display: block;
    margin-top: 20px;
    margin-left: 32px;
    margin-bottom: 10px;
}
/* 鎺ㄨ崘缁撴潫 */
/* 鍥剧墖骞垮憡寮�濮� */
.gbjt{
	overflow: hidden;
	height: auto;
	width: 1200px;
	margin: auto;
	padding-top: 25px;
}
.gbjt img{
	width: 100%;
}
/* 鍥剧墖骞垮憡缁撴潫 */
/* 寮�濂栧紑濮� */
.boxctent {
    overflow: hidden;
    height: auto;
    min-height: 1170px;
	width: 1200px;
	margin: auto;
}
.cztypel {
    width: 957px;
    display: inline-block;
    float: left;
}
.cztypel ul {
    width: 100%;
    height: auto;
}
.cztypel ul .cztypell {
    background: #ffffff;
    height: 388px;
}
.cztypel ul li .cztypelt {
    width: 100%;
    height: 281px;
    padding: 28px;
    box-sizing: border-box;
}
.cztypel ul li {
    display: inline-block;
    float: left;
    margin-right: 15px;
    margin-bottom: 16px;
    width: 463px;
    position: relative;
    z-index: 1;
}
.cztypel ul li {
    display: inline-block;
    float: left;
    margin-right: 15px;
    margin-bottom: 16px;
    width: 463px;
    height: 345px;
    position: relative;
    z-index: 1;
}
.cztypel ul li .cztypelt .rowbox1 {
    height: 124px;
}
.cztypel ul li .cztypelt .rowbox1 .imgheadl {
    width: 100px;
    float: left;
}
.cztypel ul li .cztypelt .rowbox1 > div {
    display: inline-block;
    height: 100px;
    overflow: hidden;
}
.cztypel ul li .cztypelt .rowbox1 .imgheadl img {
    width: 100%;
}
.cztypel ul li .cztypelt .rowbox1 .inforr {
    width: 290px;
    float: right;
    position: relative;
    height: auto;
}
.cztypel ul li .cztypelt .rowbox1 > div {
    display: inline-block;
    overflow: hidden;
}
.cztypel ul li .cztypelt .rowbox1 .inforr h1 {
    margin-top: 7px;
    color: #000000;
    font-size: 16px;
    line-height: 40px;
}
.cztypel ul li .cztypelt .rowbox1 .inforr .preIssue, .bodybox .cztypel ul li .cztypelt .rowbox1 .inforr .preDrawIssue {
    margin: 0 5px;
}
.cztypel ul li .cztypelt .rowbox1 .inforr p {
    display: inline-block;
    color: #999999;
    line-height: 21px;
}
.cztypel ul li .cztypelt .rowbox2 {
    height: 52px;
    overflow: hidden;
}
.cztypel ul li .cztypelt .rowbox2 ul {
    width: 100%;
    overflow: hidden;
}
.cztypel ul li .cztypelt .rowbox2 ul li {
    display: inline-block;
    float: left;
    margin-right: 4px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	margin-bottom: 16px;
	cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow:hidden;
}
/* 顶部开奖号码span样式 主要是用于滚动动画 */
.cztypel ul li .cztypelt .rowbox2 ul li span{
    display: inline-block;
    width: 36px;
    height: 36px;
}

.cztypel ul li .cztypelt .rowbox1 .inforr .opentyle {
    margin-left: 10px;
    font-size: 12px;
    width: auto;
    color: #de0846;
    text-align: center;
	line-height: 21px;
	display: inline-block;
}

/* 璧涜溅绯诲垪 */
.clNum {
    /* border: 1px solid #448ed0; */
    color: white;
    text-align: center;
    line-height: 34px;
    width: 36px;
    height: 36px;
    font-weight: 700;
    font-size: 18px;
    overflow: hidden;
	border-radius: 5px;

}


/* 璧涜溅绯诲垪 */
.gusessNum-01{
	background-color: green;
}
.gusessNum-02{
	background-color: salmon;
}
.gusessNum-03{
	background-color: cadetblue;
}
.gusessNum-04{
	background-color: orchid;
}
.gusessNum-05{
	background-color: maroon;
}
.gusessNum-06{
	background-color: crimson;
}
.gusessNum-07{
	background-color: slateblue;
}
.gusessNum-08{
	background-color: darkkhaki;
}
.gusessNum-09{
	background-color: navy;
}
.gusessNum-10{
	background-color: peru;
}


.gusessNum-1{
	background-color: green;
}
.gusessNum-2{
	background-color: salmon;
}
.gusessNum-3{
	background-color: cadetblue;
}
.gusessNum-4{
	background-color: orchid;
}
.gusessNum-5{
	background-color: maroon;
}
.gusessNum-6{
	background-color: crimson;
}
.gusessNum-7{
	background-color: slateblue;
}
.gusessNum-8{
	background-color: darkkhaki;
}
.gusessNum-9{
	background-color: navy;
}
.gusessNum-0{
	background-color: peru;
}

/* 鏃舵椂褰╃郴鍒� */

.clNum_ssc {
    /* border: 1px solid #448ed0; */
    color: white;
    text-align: center;
    line-height: 34px;
    width: 36px;
    height: 36px;
    font-weight: 700;
    font-size: 18px;
    overflow: hidden;
	border-radius: 50%;

}
/* 鏃舵椂褰╃郴鍒� */
.gusessNum_ssc{
	background-color: #2292DD;
}



.cztypel ul li .cztypelt .rowbox3 {
    width: 100%;
    height: 50px;
}
.cztypel ul li .cztypelt .rowbox3 table {
    width: 100%;
    background: #e5e5e5;
	border:1px darkgray solid ;
}
.cztypel ul li .cztypelt .rowbox3 table th {
    color: #de0846;
}
.cztypel ul li .cztypelt .rowbox3 table th,.cztypel ul li .cztypelt .rowbox3 table td {
    padding: 8px 0;
    text-align: center;
    background: #FFFFFF;
}
.cztypel ul li .cztypelt .rowbox3 table td {
    color: #676767;
}
.cztypel ul li .cztypelb {
    width: 100%;
    height: 58px;
    border-top: 1px solid #f0f0f0;
}
.cztypel ul li .cztypelb .touzu {
    width: 407px;
    height: 42px;
    line-height: 42px;
    margin: 0 auto;
    border: 1px solid #ffb6b6;
    background: red;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #FFFFFF;
}
.cztypel ul li .cztypelb .touzu a {
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
}
.cztypel ul .cztypell .botomT {
    height: 45px;
}
.cztypel ul li .cztypelb table {
    width: 100%;
    height: 100%;
	text-align: center;
	color: #333333;
}
/* 寮�濂栫粨鏉� */
/* 涓棿鍙充晶灏忓潡寮�濮� */
.otherr {
    width: 243px;
    height: auto;
    display: inline-block;
    float: right;
}
.otherr .tools {
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #ffffff;
    margin-top: 15px;
    border-bottom: 1px solid #f0f0f0;
}
.otherr .tools .toolhead {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-bottom: 1px solid #f0f0f0;
}
.otherr .tools .toolhead p{
    float: left;
    font-size: 16px;
    color: #666666;
	padding: 0 15px;
    width: 100%;
}
.otherr .tools .toolhead p,.otherr .tools .toolhead dl dd {
    display: inline-block;
    height: 50px;
    line-height: 50px;
}
.otherr .tools .toolsbox {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.otherr .tools .toolsbox .toolslist {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 0 15px;
    background: #ffffff;
    border-bottom: 1px solid #f0f0f0;
}
.otherr .tools .toolsbox .toolslist .listhead {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.otherr .tools .toolsbox .toolslist .listhead .toolsr1 {
    margin-top: 15px;
    width: 100%;
    height: 46px;
}
.otherr .tools .toolsbox .toolslist .listhead .toolsr1 .tooll {
    display: inline-block;
    float: left;
    width: 48px;
    height: 46px;
    line-height: 46px;
}
.otherr .tools .toolsbox .toolslist .listhead .toolsr1 .tooll img{
	width: 100%;
}
.otherr .tools .toolsbox .toolslist .listhead .toolsr1 .toolr {
    margin-left: 10px;
    display: inline-block;
    float: left;
    width: auto;
    height: 46px;
    line-height: 46px;
}
.otherr .tools .toolsbox .toolslist .listhead .toolsr2 {
    width: 100%;
    height: 20px;
    margin-top: 18px;
}
.otherr .tools .toolsbox .toolslist .listhead .toolsr2 dl {
    width: 100%;
    height: 20px;
    padding: 0;
    display: block;
    background: #ffffff;
}
.otherr .tools .toolsbox .toolslist .listhead .toolsr2 dl dt {
    float: left;
    color: #666666;
    font-size: 16px;
}
.otherr .tools .toolsbox .toolslist .listhead .toolsr2 dl dt,.otherr .tools .toolsbox .toolslist .listhead .toolsr2 dl dd {
    display: inline-block;
    height: 20px;
    line-height: 20px;
}
.toolicon1 {
    padding-left: 35px;
    position: relative;
}
.otherr .tools .toolsbox .toolslist .listhead .toolsr2 dl dd {
    float: right;
}
.otherr .tools .toolsbox .toolslist .listhead .toolsr2 dl dt,.otherr .tools .toolsbox .toolslist .listhead .toolsr2 dl dd {
    display: inline-block;
    height: 20px;
    line-height: 20px;
}
.otherr .tools .toolsbox .toolslist .listhead .toolsr3 {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 10px 0;
}
.otherr .tools .toolsbox .toolslist .listhead .toolsr3 ul li {
    height: 25px;
    line-height: 25px;
    display: inline-block;
    margin-right: 10px;
    color: #999999;
}
/* 涓棿鍙充晶灏忓潡缁撴潫 */
