@charset "utf-8";

/* 清除浮动(用于父级) */
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix{*zoom:1;}

/* 超出部分换行 */
.feed_line{white-space:pre-wrap ;word-break:break-all; }
/* 超出部分隐藏并显示省略号 */
.over_line{overflow: hidden;text-overflow:ellipsis;white-space:nowrap;}
/* 显示一行超出部分隐藏并显示省略号 */
.over_line_1{overflow:hidden;text-overflow:ellipsis;word-break:break-all;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;}
/* 显示两行超出部分隐藏并显示省略号 */
.over_line_2{overflow:hidden;text-overflow:ellipsis;word-break:break-all;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;}

/* 小图标容器 background:url(/xxx.png) no-repeat center;height:32px;width:32px;background-size:22px;
{height:32px;width:30px;background-repeat: no-repeat;background-position:left;background-size:26px;}
*/
.miniIcon { 
    display:inline-block; 
    width:auto;height:auto;
    white-space:nowrap; 
    letter-spacing: -1em; 
    text-indent: -99em; 
    color: transparent;
    /* IE7 */
    *text-indent: 0;
    *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\3000');
}
.miniIcon:before { 
    content: '\3000'; 
}
/* 分页样式重写 */
.pagination>li {
    display: inline-block;
}
.pagination a:link {
	background: inherit !important;
	color: inherit !important;
}
.pagination .active{background-color: #337ab7;}

/* modal弹窗适应移动端 */
@media screen and (min-width: 768px) {
    .modal-dialog {
	    width: 800px;
   	}
}